.container {
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video {
    width: 100%;
}

.c-video {
    width: 100%;
    max-width: 800px;
}
